@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    padding: 0;
    margin: 0;
}
#msg-display{
    background-color: black;
    color: white;
}
.chatbox{
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
    overflow: hidden;
  background-image: url("/images/istockphoto-1215293908-612x612.jpg");

}
.logo{
    width: 38vw;
    height: 20vh;
    position: absolute;
    background-color: #555657;
    left: 1vw;
    top: 10vh;
    border-radius: 15px;
    box-shadow: inset 0px 0px 15px 10px black;

    
        /* font-family: "Rubik Scribble", system-ui;
        font-weight: 400;
        font-style: normal; */
      
}
#logo:hover{
   
    #logoimg{  animation: move 8000ms 1 alternate ease-in-out;}
  
    
}
.logo img{
    position: absolute;
    left: -1vw;
    width: 3vw;
    top: -10vh;
    z-index: -1;
    transform: rotate(15deg);
    offset-path: path("M36,306 c56,-90 105,-188 191,-256 c105,-31 151,-21 216,1 c26,37 53,61 43,139 c-21,63 -32,87 -57,107 c-48,68 -163,-21 -71,-83 c84,-8 84,28 77,110 c-61,97 -98,61 -165,136");
visibility: hidden;
offset-rotate: auto;
}
@keyframes move{
    0% {
        
      visibility:visible;
      opacity: 0%;
      z-index: 0;
        offset-distance: 0%;
      }
      20%{
        opacity: 30%;
        transition: opacity 0.3s ease-in;
      }
      30%{
        opacity: 100%;
        transition: opacity 0.1s ease-in;
      }
     
      95%{
        z-index: 0;
        visibility: hidden;
        transition: smooth;
        transition-duration: 0.5s;
        offset-distance: 100%;
        
      }
      100% {
       
        visibility: hidden;
       
      }
      
}
.logo p{
    letter-spacing: 10px;
    font-family: system-ui;
    font-weight: 800;
    font-size: 5vw;
    position: absolute;
    left: 3vw;
    top: -6vh;
    background-image: url(/images/hand-drawn-vector-doodles-set-600nw-1425794720.webp);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.chatarea{
    width: 60vw;
    height: 100vh;
    position: fixed;
    left: 40vw;
    background-color: #4c4c4c;
    box-shadow: inset 0px 0px 15px 10px black;
}
.total-users{
    padding-top: 15px;
    text-align: center;
    z-index: 1;
    font-size: 2vw;
    font-family: "Caveat", cursive;
    color: #ffffff;
    width: 15vw;
    height: 6vh;
    background-color: #555657;
    border-radius: 10px;
    position: absolute;
    top: 48vh;
    left: 12.5vw;
    box-shadow: 2px 2px 8px 5px black inset
}


#message{
    position: relative;
    top: 94vh;
    width: 54.5vw;
    height: 5vh;
    border-radius: 50px 0px 0px 50px;
    border: 1px solid #ffffff;
    font-size: 1.5vw;
    padding-left: 20px;
    padding-right: 10px;
    box-shadow: inset 2px 2px 7px 2px black;
}


#send{
    position: absolute;
    top: 93.8vh;
    left: 56.5vw;
    width: 3.4vw;
    height: 5.8vh;
    border-radius: 0px 50px 50px 0px;
}

#send img{
    width: 100%;
    height: 100%;
    border-radius: 0px 50px 50px 0px;
}
.username{
    font-size: 2vw;
    padding-left: 25px;
    width: 60vw;
    background-color: white;
    height: 5vh;
    position: fixed;
    top: 0vh;
    box-shadow: black 0px 10px 10px 7px;
}

.users{
    z-index: 1;
    width: 25vw;
    height: 35vh;
    background-color: #555657;
    position: absolute;
    top: 60vh;
    left: 7.5vw;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 7px black inset;
    overflow-y: scroll;
}
.users::-webkit-scrollbar{
    display: none;
}

.user-list{
    background-color: white;
    width: 22vw;
    position: relative;
    height: 5vh;
    left: 1vw;
    margin-top: 15px;
    list-style: none;
    overflow: hidden;
    font-size: 2vw;
    padding-left: 15px;
    box-shadow: 2px 2px 5px 5px inset gray ;
    border-radius: 5px;
    font-family: "Rubik", sans-serif;
}

.msgs-container{
    width: 60vw;
    background-color: transparent;
    height: 89vh;
    position: inherit;
    overflow-y: scroll;
    top: 3vw;
border: none;
outline: none;
    box-shadow: inset 10px 0px 15px 0px black;
    
}
#timedisp{
    position: relative;
    width: 6vw;
    height: 1vh;
  font-size: 1vw;
    /* left: 20.5vw; */
    padding-bottom: 1vh;
    top: 0vh;
    right: -3.5vw;
    margin-left: auto;
}
#timedisp1{
    position: relative;
    width: 6vw;
    height: 1vh;
    font-size: 1vw;
    /* left: 20.5vw; */
    margin-left: auto;
    left:0vw;
    padding-bottom: 1vh;
    top: 0vh;
}
@keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
#userdisp{
    color: aqua;
     --border-angle: 0turn;
    --main-bg: conic-gradient(
        from var(--border-angle),
        #213,
        #112 5%,
        #112 60%,
        #213 95%
      );
    
    border: solid 5px transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
    
    background: 
   
      var(--main-bg) padding-box,
      
      var(--gradient-border) border-box, 
      
      var(--main-bg) border-box;
    
    background-position: center center;
  
    animation: bg-spin 3s linear infinite;
   
 
    text-align: center;
    border-radius: 10px;
    /* background-color: antiquewhite; */
    min-width: 6vw;
    max-width: max-content;
    height: 3vh;
    position:absolute;
    top: 0.5vh;
    right: 40vw;
    font-size: 1.5vw;
}
#userdisp1{
    color: aqua;
    --border-angle: 0turn;
    --main-bg: conic-gradient(
        from var(--border-angle),
        #213,
        #112 5%,
        #112 60%,
        #213 95%
      );
    
    border: solid 5px transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
    
    background: 
   
      var(--main-bg) padding-box,
      
      var(--gradient-border) border-box, 
      
      var(--main-bg) border-box;
    
    background-position: center center;
  
    animation: bg-spin 3s linear infinite;
    text-align: center;
    border-radius: 10px;
    /* background-color: antiquewhite; */
    min-width: 6vw;
    max-width: max-content;
    height: 3vh;
    position: absolute;
    top: 0.5vh;
  
    
    left: 40vw;
    font-size: 1.5vw;
}
.msgs-container::-webkit-scrollbar{
    display: none;
}

.msg-bar-left {
    word-wrap: break-word;
}
.msg-bar-right {
    word-wrap: break-word;
}
.msg-bar-left{
    font-family: "Caveat", cursive;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5vw;
    position: relative;
    width: 27vw;
    margin-top: 2vw;
    max-width: fit-content;
    min-height: 4vh;
    height: auto;
    background-color: aliceblue;
    left: 1vw;
    border-radius: 20px 20px 20px 0px;
    word-wrap: break-word;
    margin-bottom: 2vh;
}
.msg-bar-right{
    font-family: "Caveat", cursive;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5vw;
    width: 27vw;
    margin-top: 2vw;
    max-width: fit-content;
    min-height: 4vh;
    height: auto;
    background-color: rgb(0, 0, 0);
    /* right: auto; */
    color: aliceblue;
    right: 1.5vw;
    border-radius: 20px 20px 0px 20px;
    margin-left: auto;
    word-wrap: break-word;
    margin-bottom: 2vh;
}

.whisper-btn{
    text-align: center;
    font-family: cursive;
    border: 1px solid;
    color: transparent;
    /* box-shadow: 0.5px 0.5px 5px 0.5px; */
    border-radius: 52px;
    width: 4vw;
    height: 1.8vw;
    position: relative;
    top: -8vh;
    left: 16.8vw;
    overflow: hidden;
    font-size: 1.2vw;
    background-color: rgb(0, 0, 0);
    background-image: url(/images/sendwhite-removebg-preview.png);
    background-size: 3vw;
    background-position-x: 11px;
    background-repeat: no-repeat;
    cursor: pointer;
    
    

}
@keyframes send{
    0%{
        background-position-x: 11px;
        animation-timing-function: ease-in-out;
    }
    20%{
        background-position-x: 5px;
        animation-timing-function: ease-in-out;
    }
    100%{
        background-position-x: 300px;
        animation-timing-function: ease-in-out;
    }
}
#closebtn{
    position: relative;
    top: -4vh;
    left: 21vw;
    width: 1vw;
    height: 1vw;
    border: 2px solid;
    background-color: #c6042b;
}
@keyframes shadow{
    0%{
        box-shadow: 0px 0px 0px 0px;
    }
    100%{
       box-shadow:  0px 0px 7px 1px black;
    }
}
  
  .whisper-btn:active {
    top: -7.92vh;
    animation-name: shadow;
    animation-duration: 0.1s;
  }



#personalmsg{
  display: none;
    position: absolute;
    min-width: 20vw;
    height: 12vh;
    min-height: 10vh;
    max-height: 15vh;
    padding: 15px;
    font-size: 20px;
    max-width: 20vw;
    left: 9vw;
    top: 40vw;
    border: 1px solid;
    border-radius: 10px;
    overflow: scroll;
    resize: none;
    box-shadow: inset 0px 2px 10px 2px;
    display: none;
    
}
.personalmsgin{
    z-index: 2;
    position: relative;
    width: 20.5vw;
    padding-left: 10px;
    height: 4.5vh;
    top: 1.7vh;
    left: -0.2vw;
    border-radius: 20px;
    font-size: 1.2vw;
    border: none;
    box-shadow: 0px 0px 5px 0px;
    outline: none;
}


#personalmsg::-webkit-scrollbar{
    width: 0px;
}
#personalmsgcont{
    font-family: "Caveat", cursive;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0vw;
    position: relative;
    width: 27vw;
    min-width: 10vw;
    margin-top: 2vw;
    max-width: fit-content;
    min-height: 6vh;
    height: auto;
    background-color: aliceblue;
    left: 1vw;
    border-radius: 20px 20px 20px 0px;
    background-image: url(/images/personalmsg.jpg);
    background-repeat: no-repeat;
    background-size: 3.5vw;
    background-position-x: 0vw;
    background-position-y: 0vh;
    word-wrap: break-word;

}

#personalmsgcont:hover{
    font-size: 1.5vw;
    background-image: none;
    #personalmsgsender{
        display: none;
    }
}
#personalmsgsender{
    z-index: 1;
    position: relative;
    font-size: 2vw;
    left: 3.5vw;
    top: 0.2vw;
}

#personalchatbtn{
    width: 1vw;
    height: 2vh;
}

