<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/chat.css">
</head>
<body>
    
    <div class="chatbox">
        <div class="total-users" id="total-users">TOTAL USERS</div>
        <div class="users" id="users">
            <li class="user-list"></li>
            <li class="user-list"></li>
            <li class="user-list"></li>
        </div>

        
        <div class="chatarea" id="chatarea">
            <div class="username" id="username">tarund</div>
            <div class="message-back"></div>

            <div class="msgs-container">
                <div class="msg-bar-left" id="msg-bar-left"><p></p></div>
                <div class="msg-bar-right" id="msg-bar-right"><p></p></div>
            </div>
           


            <input type="text" id="message">
        </div>
    </div>

</body>
</html>