<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/enter.css">
    
    <title>Document</title>
</head>
<body>

    <div class="logo"><img src="/logochat.png" alt=""></div>
  <div class="welcome">WELCOME</div>
    <div class="loginform">
        <section class="addr-cont" id="addr-cont" >
        <form action="/login" id="login-box" method="post" >

            <input type="text"  name="username"  class="login-cred" placeholder="Username">
            <input type="password"  name="password" class="login-cred" placeholder="Password">
           
          
            <button id="loginbtn" >LOG IN</button>
        </form>
  </section>

    <!-- <div id="outer-box">
        <div id="inner-box">
            <div class="face">
                <div class="eyes" id="eyes">
                    <div class="eyes1" id="eye1"></div>
                    <div class="eyes1" id="eye2"></div>
                </div>
                <div class="mouth" id="mouth"></div>
                <div class="cheeks">
                    <div class="cheek1" ></div>
                    <div class="cheek1" ></div>
                </div>
            </div>
        </div>

    </div> -->
</div>

<div class="loginimg"><img src="/loginimg.jpg" alt=""></div>
</body>
<script src="/js/enter.js"></script>

</html>