<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/enter.css">
    <link rel="stylesheet" href="boxshake.css">
    <title>Document</title>
</head>
<body>
    <div class="logo"><img src="/logochat.png" alt=""></div>
    <div class="newuser">Looks like you are a new user!</div>
    
    <div class="loginform">
     <div class="addr-cont" id="addr-cont2">
        <form action="/signup" id="login-box" method="post">

            <input type="text"  name="username"  class="login-cred" placeholder="Username">
            <input type="password"  name="password" class="login-cred" placeholder="Password">
            <input type="password"  name="confirmpassword" class="login-cred" placeholder="Confirm password">
            <button id="loginbtn" >REGISTER</button>
        </form>
    </div> 
    

    </div>
    <div class="loginimg"><img src="/loginimg.jpg" alt=""></div>
</body>
<script src="/js/enter.js"></script> 
</html>